.icon {
  border: solid 3px #333;
  margin: 3px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: inline-block;

  img {
    width: 64px;
    height: 64px;
  }

  &.selected {
    border: solid 3px red;
  }
}
